* {
  margin: 0;
  padding: 0;
}
ol,ul{
  list-style:none;
}
a{
  text-decoration: none;
}
input,label{
  vertical-align: middle;
}
.page {
  width: 100%;
}
.header {
  width: 100%;
  height: 100px;
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content {
  width: 100%;
  min-height: 600px;
}
.userLogin {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 15px;
  /* background-color:darkorange; */
  width: 140px;
  height: 30px;
}
.tuichudenglu {
  height: 35px;
  font-size: small;
  background-color: rgb(0, 182, 228);
  border-radius: 5px;
  padding: 3px 5px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
.top-content {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #e6e6e6;
  box-sizing: border-box;
}
.top-content ol {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.top-content ol .liOn {
  background-color: black;
  color: white;
  padding: 0 5px;
}
.mid-content {
  width: 90%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
.post-container {
  width: 90%;
  padding: 20px;
  margin: 20px auto;
  background-color:rgb(232, 236, 222);
  border-radius: 10px;
}
.post-comment {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 10px;
}
.comment-title {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: rebeccapurple;
}
.box_lg {
  width: 400px;
  height: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin-left: -100px;
  background-color: bisque;
  z-index: 10;
  display: none;
  opacity: 0.9;
  border-radius: 40px;

}
.regView {
  display: none;
}
.box_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.349);
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}
.box_post {
  width: 800px;
  height: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin-left: -100px;
  background-color: bisque;
  z-index: 10;
  display: none;
  opacity: 0.9;
  border-radius: 10px;
}
.close_boxPost {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 95%;
  top: 5%;
}
.box_comment {
  width: 800px;
  height: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin-left: -100px;
  background-color: bisque;
  z-index: 10;
  display: none;
  opacity: 0.9;
  border-radius: 10px;
}
.close_boxComment {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 95%;
  top: 5%;
}
#login_click{
  top: 50%;
  bottom: 50%;
  left: 50%;
  position: relative;
  /*向左向上偏移50%*/
  transform: translate(-50%, -50%);
  background-color: darkorange;
  border-radius: 40px;
  width: 80px;
  text-align: center;
}
.input-normal{
  width: 220px;
height: 38px;
margin: 30px auto;
padding: 0;
text-align: center;
border-radius: 20px;
outline: none;
display: block;
transition: 0.3s;
border: 1px solid #e6e6e6;
opacity: 1;
}
.btn-primary{
  width: 100px;
height: 36px;
margin: auto;
font-size: 18px;
text-align: center;
color: white;
border-radius: 20px;
display: block;
background: darkorange;
transition: 0.3s;
opacity: 1;
}
.input-post-title{
  width: 400px;
height: 30px;
margin: 30px auto;
padding: 0;
text-align: center;
border-radius: 5px;
outline: none;
display: block;
transition: 0.3s;
border: 1px solid #e6e6e6;
opacity: 1;
}
.input-post-content{
  margin: 5px auto;
  width: 500px;
height: 300px;
padding: 0;
border-radius: 5px;
outline: none;
display: block;
transition: 0.3s;
border: 1px solid #e6e6e6;
opacity: 1;
}
.input-comment-content{
  margin: 5px auto;
  width: 600px;
height: 300px;
padding: 0;
text-align: center;
border-radius: 5px;
outline: none;
display: block;
transition: 0.3s;
border: 1px solid #e6e6e6;
opacity: 1;
}